.body {
 font-family: 'Open Sans', sans-serif;
}
.menu {
  margin: 0;
  list-style: none;
  background: #595959;
  margin-left: 59px;
  margin-top: 43px;
}
.menu li {
  display: inline-block;
  padding: 20px;
  color: #ebebeb;
  }
.menu li :hover {
  border-left: 1px #838383;
  border-right: 1px #838383;
}
.menu a{
  color: #ebebeb;
  text-decoration: none;
}
.sidebar li{
   border: 1px solid #c8c8c8;
  height: 40px;
  width: 240px;
  list-style: none;
  margin-left: 20px;
  border-bottom: 0px; 
}
.sidebar li:last-child {
  border-bottom: 1px solid #c8c8c8;
}
.sidebar a {
  position: relative;
  top:10px;
  left: 25px;
  text-decoration: none;
  color: #656363;
}
.wrapper {
  width: 1062px;
  height: 950px;
  margin: 0 auto;
}
.logo {
  margin-top: 50px;
  margin-left: 50px;
}
.main_content {
  border: 1px solid #c8c8c8;
  width: 679px;
  float: right;
  position: relative;
  bottom: 273px;
}
.main_content img {
  position: relative;
  left: 98px;
  
}
.footer1 {
  float: left;
  list-style: none;
  width: 966px;
  margin-left: 59px;
  position: relative;
  bottom: 245px;
  background: #e1e1e1;
}
.footer1 li{
  display: inline-block;
  padding:20px;
}
.footer1 a {
  color: #2c2c2c;
  text-decoration: none;
}
.footer1 a :hover {
  text-decoration: underline;
}
.copy_right {
  float: right;
  background: #e1e1e1;
  width: 200px;
  position: relative;
  bottom: 305px;
}
copy_right a {
  color: #2c2c2c;
}
copy_right p:hover {
  text-decoration: underline;
}
.text {
  float: right;
  width: 625px;
  position: relative;
  bottom: 273px;
  right: 28px;
}

  
